* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: var(--main-font-color);
}

:root {
    --project-sidebar-color: #F35E3E;
    --main-font-color: #3B2E40;
    --main-background-color: #d0bab8;
    --secondary-color: #6173F4;
    --main-color: #FCEFED;
    --secondary-font-color: #fcefed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 220px 1fr 1fr;
    background-color: var(--main-background-color);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: var(--secondary-color, #12d);
    color: var(--secondary-font-color, #fff);
    padding: 32px;
}

.logo {
    display: grid;
    grid-template-columns: 32px 1fr;
    justify-items: left;
    gap: 24px;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 48px;
}

.action {
    display: grid;
    grid-template-columns: 32px 1fr;
    justify-items: left;
    gap: 18px;
    margin-bottom: 24px;
    align-items: center;
    font-size: 1.3rem;
}

.action:hover {
    cursor: pointer;
    transform: scale(1.02);
    font-weight: bold;
}

.action:nth-child(1) {
    font-weight: bold;
}

.action > img {
    margin-right: 10px;
}

#communities {
    margin-bottom: 48px;
}

.header-container {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 24px 48px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

#search-area {
    display: flex;
    align-items: center;
}

#search-icon {
    margin-right: 16px;
}

#search {
    appearance: none;
    height: 40px;
    width: 600px;
    background-color: var(--secondary-font-color);
    border-radius: 18px;
    background-color: #d0bab8;
}

#search-icon:hover,
#notification-icon:hover {
    cursor: pointer;
}


#user {
    display: flex;
    gap: 48px;
    justify-items: left;
    align-items: center;
}

#user > div > p {
    font-weight: bold;
    font-size: 1.2rem;
}

#user > div {
    display: flex;
    gap: 18px;
    justify-items: left;
    align-items: center;
}

#user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info {
    display: flex;
    align-items: center;
}

#user-name {
    margin-left: 20px;
}

#user-name > p {
    font-size: 1rem;
    font-weight: bold;
}

#user-name > #name {
    font-size: 1.7rem;
    font-weight: bold;
}

#btns {
    display: flex;
    gap: 34px;
    align-items: center;
}

button {
    border-radius: 24px;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
}

button:hover {
    cursor: pointer;
}

.projects {
    margin-top: 32px;
    margin-left: 16px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: var(--main-background-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 32px 1fr;
}

.announcements > p , .trending > p , 
.projects > p   {
    margin: 10px 16px;
    font-size: 1.4rem;
    font-weight: bold;
}

.project {
    background-color: var(--project-sidebar-color);
    border-radius: 12px;
    margin: 16px;
    display: grid;
}

.project-container {
    background-color: var(--secondary-font-color);
    margin-left: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
}

.project-info {
    justify-self: start;
    align-self: start;
    padding: 32px 32px 16px 32px;
}

.project-links {
    justify-self: end;
    align-self: end;
    margin-top: auto;
}

.project-links > img {
    margin-right: 24px;
    margin-bottom: 16px;
}

.project-links > img:hover {
    cursor: pointer;
}

.project-name {
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: bold;
}

.project-description {
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.announcements {
    margin-top: 32px;
    margin-right: 16px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 32px 1fr;
}



.announcements-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--secondary-font-color);
}

.announcement {
    padding: 16px;
}

.announcement-name {
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: bold;
}

.trending {
    margin-top: 32px;
    margin-right: 16px;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 32px 1fr;
}

.trending-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 30%;
    background-color: var(--secondary-font-color);
}



.trend {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px;
}

.trend:hover {
    cursor: pointer;
}

.trend>img {
    margin-right: 12px;
}

.trend-name > span:nth-child(1){
    font-weight: bold;
}